<div class="services-optimization-area pt-80 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1 order-2">
                <div class="services-optimization-thumb mt-40">
                    <img src="https://res.cloudinary.com/desnc0pwx/image/upload/v1624120950/website/home_cwqoqe.jpg" alt="">
                </div>
                <div class="services-optimization-thumb-2">
                    <img src="https://res.cloudinary.com/desnc0pwx/image/upload/c_scale,h_383,w_383/v1624120951/website/home2_tsfyat.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-1">
                <div class="services-optimization-content mt-40">
                    <span>Especialistas en derecho pensional</span>
                    <h3 class="title">Deja tu caso en manos de profesionales</h3>
                    <p>Contamos con una alta experiencia en diferentes casos de derecho, podemos asesorarte</p>
                    <div class="action-support-item">
                      <a href="">
                        <p>Llámanos</p>
                        <span>310 456 8956</span>
                      </a>
                        <i class="fal fa-phone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
