<div
  class="banner-area-2 bg_cover"
  style="background-image: url(assets/images/banner-bg.jpg)"
>
  <div class="banner-overlay">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="banner-content text-center">
            <span>Expertos en derecho</span>
            <h1 class="title">Abogados</h1>
            <p>Tu caso en manos de los mejores</p>
            <ul>
              <li>
                <a class="main-btn" routerLink="/equipo">Conocer el equipo</a>
              </li>
              <li>
                <a class="main-btn main-btn-2" routerLink="/servicios"
                  >Nuestros servicios</a
                >
              </li>
            </ul>
          </div>
          <!-- banner content -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
</div>
